
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: rgb(214, 204, 207);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    width: 90%;
    max-width: 500px;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#sep {
    display: flex;
    flex-direction: column;
}

#btn {
    padding: 15px;
    background-color: grey;
    border-radius: 15px;
    border: 2px solid black;
    transition: 2s;
    width: 100%;
}

#btn:hover {
    background-color: rgb(97, 95, 95);
    cursor: pointer;
}

#results {
    margin-top: 20px;
}

@media (min-width: 600px) {
    #sep {
        flex-direction: row;
        justify-content: space-between;
    }

    #sep label {
        width: 48%;
    }

    #sep input {
        width: 48%;
    }
}
